$main-color: rgb(22, 27, 34);
$darker-main: rgb(13, 17, 23);
$lighter-main: rgb(52, 57, 65);
$white-color: rgb(255, 255, 255);
$dark-orange: rgb(166, 73, 66);
$light-orange: rgb(255, 120, 68);
$green: rgb(9, 121, 105);
$dark-green: rgb(2, 48, 32);
